# Data Collection

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import xlsxwriter

RESULT_DIR = '../Results/'

## High Correlation Stocks

In [3]:
high_correlation_stocks = ['PSX', 'MPC', 'CVX', 'XOM']

high_correlation_stock_data = yf.download(high_correlation_stocks, 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False, interval='1d')['Adj Close']

In [4]:
high_correlation_stock_data.index = high_correlation_stock_data.index.date
display(high_correlation_stock_data)

                   CVX        MPC         PSX        XOM
2018-12-31  101.839668  55.314468   81.296181  62.932121
2019-01-02  103.618286  55.905022   83.155182  64.316460
2019-01-03  101.633728  55.089500   82.003922  63.328960
2019-01-04  103.739975  57.789143   85.721931  65.663887
2019-01-07  105.087990  58.360939   86.316437  66.005356
...                ...        ...         ...        ...
2019-12-23  117.218971  59.060181  110.148331  67.977135
2019-12-24  117.228706  59.362007  110.666473  67.716011
2019-12-26  117.481995  58.875191  109.551987  67.822395
2019-12-27  117.189751  58.787567  108.124664  67.590294
2019-12-30  116.751373  58.096291  107.899818  67.193794

[252 rows x 4 columns]

In [5]:
high_correlation_stock_data.to_excel(RESULT_DIR + 'high_correlation_stocks.xlsx')
high_correlation_stock_data.to_csv(RESULT_DIR + 'high_correlation_stocks.csv')

## Low Correlation Stocks

In [19]:
low_correlation_stocks = ['CVX', 'TSLA', 'EA', 'EDU']

low_correlation_stock_data = yf.download(low_correlation_stocks, 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False, interval='1d')['Adj Close']

In [20]:
low_correlation_stock_data.index = low_correlation_stock_data.index.date
display(low_correlation_stock_data)

                   CVX          EA         EDU        TSLA
2018-12-31  101.839668   78.910004   54.810001  332.799988
2019-01-02  103.618286   80.370003   55.310001  310.119995
2019-01-03  101.633728   78.709999   53.950001  300.359985
2019-01-04  103.739975   84.419998   56.570000  317.690002
2019-01-07  105.087990   87.589996   58.619999  334.959991
...                ...         ...         ...         ...
2019-12-23  117.218971  107.790001  124.959999  419.220001
2019-12-24  117.228706  108.550003  124.699997  425.250000
2019-12-26  117.481995  108.510002  125.000000  430.940002
2019-12-27  117.189751  108.430000  124.000000  430.380005
2019-12-30  116.751373  106.930000  123.000000  414.700012

[252 rows x 4 columns]

In [21]:
low_correlation_stock_data.to_excel(RESULT_DIR + 'low_correlation_stocks.xlsx')
low_correlation_stock_data.to_csv(RESULT_DIR + 'low_correlation_stocks.csv')